.section {
  display: flex;
  flex-direction: row;
}

.container {
  width: 50vw;
  margin-right: 40px;
  margin-left: 40px;
  // flex-wrap: wrap;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

}

.proj1 {
  display: flex;
  background-color: black;
  color: white;
  // margin: 1px;
}

.proj {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 4rem;
  height: 40px;
  width: 40px;
  margin: 20px;
}
