* {
  font-family: $PrimaryFont;
  color: $PrimaryOne;
}

.button {

  background-color: $PrimaryOne;
  a {
    color: $PrimaryFive;
    font-family: $PrimaryFont;
  }
}

.button:hover {
  background-color: $PrimaryTwo;
  a:hover {
    color: $PrimaryOne;
  }

}


.bold {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $PrimaryFont;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: $PrimaryFive;
  font-weight: 700;
}
h2 {
  text-align: center;
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.section {
  display: flex;
  flex-direction: row;
  background-color: $PrimaryFive;
}

.home {
  background-color: $PrimaryOne;
  .title{
    color: $PrimaryFive;
  }
  .subtitle {
    color: $PrimaryTwo;
  }
}

.title-about {
  display: flex;

}

.container {
  width: 50vw;
  margin-right: 40px;
  margin-left: 40px;
  // flex-wrap: wrap;
}

.cont {
  margin-left: 90px;
  margin-right: 90px;
}

.tile {
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: $PrimaryFive;
}

.proj1 {
  transition: all .2s ease-in-out;
}

.proj1:hover {
  transform: scale(1.05);
}

.skills {
  margin-bottom: 120px;
}

.icon {
  font-size: 4rem;
  height: 40px;
  width: 40px;
  margin: 20px;
  animation: icon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.smol-icons {
  font-size: 2rem;
  margin: 10px;

}

.icons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@keyframes icon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.interests {
  display: flex;
  justify-content: space-evenly;
}

.beach-img {
  margin-left: 30px;
  height: 400px;
  width: 300px;
}

.interests-text {
  width: 50vw;
}

// img {
//   height: 400px;
//   width: 300px;
// }

.list {
  display: flex;
  justify-content: center;
  text-align: center;
}

li {
  margin-bottom: 5px;
}

.icon-small {
  font-size: 1.5rem;
}

.contact-title {
  text-align: center;
  margin-bottom: 10px;
}

.footer {
  background-color: $PrimaryFour;
}

// navbar
.navbar {
  min-height: 2rem;
  background-color: $PrimaryOne;
  .navbar-item {
    color: $PrimaryFive;
  }
}

.navbar .navbar-item:hover {
  background-color: $PrimaryTwo;
  color: $PrimaryOne;
}
