$PrimaryOne: #1e212b;
$PrimaryTwo: #4d8b31;
$PrimaryThree: #ffc800;
$PrimaryFour: #ff8427;
$PrimaryFive: #FFFFF9;
$PrimaryFont: 'Oxygen', sans-serif;

@import '~bulma/bulma.sass';
@import './navbar.scss';
@import './common.scss';
