* {
  font-family: $PrimaryFont;
}

.navbar {
  text-align: center;
  display: block;
  width: 100%;
  // scroll-behavior: auto smooth;
}

.navbar .navbar-item  {
  display: inline-block;

}

.scroll {
  overflow-y: scroll;
  scroll-behavior: auto smooth;
}
